/* check combo */
.x-combo-checker {
  background-position: 50% -2px;
  margin-left: 1px;
  background-color: transparent;
  background: url(image_path("extjs/resources/themes/images/default/grid/unchecked.gif")) no-repeat;
  background-position: -1px -1px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.x-boundlist-selected .x-combo-checker {
  background-position: 50% -2px;
  margin-left: 1px;
  background-color: transparent;
  background: url(image_path("extjs/resources/themes/images/default/grid/checked.gif")) no-repeat;
  background-position: -1px -1px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
