/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./checkcombo
 */
.btn-add-icon {
  background: url(image_path('task-manager/icons/add.png')) no-repeat;
}
.btn-edit-icon {
  background: url(image_path('task-manager/icons/edit.png')) no-repeat;
} 
.btn-delete-icon {
  background: url(image_path('task-manager/icons/delete.png')) no-repeat;
} 
table.data {
  border: 1px solid #aaa;
  width: 100%;
	margin: 5px;
	margin-left: 60px;
  tr {
    td.title {
      font-weight: bold;
      font-size: 14px;
      border-right: 1px solid #aaa;
      text-align: center;
      width: 100px;
    }
    td.name {
      text-align: right;
      width: 70px;
    }
    td {
      padding: 3px;
    }
  }
}
